#my_dataviz {
  width: 75%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  /* Add position relative to position dropdown absolutely */
}

#dropdown-container {
  position: absolute;
  top: 350px;
  /* Adjust as needed */
  left: 250px;
  /* Adjust as needed */
  /* z-index: 999; Ensure dropdown appears above SVG */
}

#state-dropdown {
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
}

svg {
  margin-top: 60px;
  /* Add top margin to SVG */
  display: block;
}


.axisBlack path{
  stroke: black;
}

.axisBlack text{
  fill: black;
  font-size: small;
}